body {
  background: grey;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 600px;
  margin: 40px auto;
  background: white;
  padding: 32px;
  border-radius: 8px;
}
h1 {
  color: #253858;
}
p {
  font-family: Public Sans, sans-serif;
  font-size: 0.9em;
}
audio {
  width: 100%;
  outline: none;
}
#offline-message {
  font-family: Public Sans, sans-serif;
  font-size: 1em;
  color: #c00;
  text-align: center;
}
#player-area {
  margin-top: 32px;
}